POSTGRES_HOST=databaseAdd commentMore actions
POSTGRES_PORT=5432
POSTGRES_USER=gamer
POSTGRES_PASSWORD=password
POSTGRES_DB=gamerchallenge

POSTGRES_URL="postgres://gamer:password@database:5432/gamerchallenge"